/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Google Font */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Navigation bar */
/* 1rem = 16px (default font size) */
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/* Margin vs Padding */
/* Margin is best used when creating space between elements */
/* Padding is best used when creating space between element's border and its content */
nav .nav-logo, nav .nav {
	margin: 0.8rem;
/* Change elements to inline elements */
	display: inline;
}

#intro {
	/* Create space between the contents of the intro section and its border */
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3rem;
	padding-top: 2rem;
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	color: white;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3rem;
	padding-top: 2rem;
	text-align: center;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}
#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info .card {
	/* Allows the cards to appear beside each other */
	display: inline-block;
	/* Aligns element with the tallest element in line */
	/* Used with the inline-block value */
	vertical-align: top;
	/* Allows for card to have equal height that adjust with the content */
	min-height: 175px;
	width: 30%;
	/* Create Horizontal Spacing */
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* Activity Code */
/* Space, Content, Backgroubd Color */
#pre-footer {
	background-color: #002540;
	color: white;
	padding: 1rem;
}
/* Aligning Horizontally */
#pre-footer div {
	display: inline-block;
	vertical-align: baseline;
	min-height: 50px;
	min-width: 20rem;
	width: 5%;
	margin: 1rem 3rem 1rem 3rem;
}
/* Selecting all elements under div for spacing */
#pre-footer div * {
	padding: 0.25rem;
}

footer, footer span {
	padding: 0.5rem;
}